$user-region-height: 210px;
$spacer: 16px;
$list-top: $user-region-height + $spacer;
$list-width: 320px;
$toolbar-height: 50px;
$list-width: 320px;

.maintain-users-app {
    width: 600px;

    .region-panel {
        position: absolute;
        left: 0;
        top: 0;
        width: $list-width;
        bottom: $footer-height;
        background-color: $region-panel-background-colour;
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 2px;
        overflow-y: auto;
    }

    .region-detail {
        position: absolute;
        right: 0;
        left: $list-width;
        top: 0;
        background-color: #FFF;
        bottom:$footer-height;

        .container {
            width: auto;
        }

        .maintain-users-details {

            .row {
                padding-bottom: 4px;
            }

            .panel-heading {
                background-color: $fleet-summary-panel-heading-background-colour;
                color: white;
                font-size: 18px;
            }

            .panel-body {
                background-color: $fleet-summary-panel-body-background-colour;

                .recently-edited {
                    background-color: $fleet-summary-panel-recently-edited;
                }
            }
        }
    }

    .region-footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: $footer-height;
        background-color:$footer-background-colour;
        padding-right:10px;
        padding-top:3px;
    }

    /*.region-toolbar {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: $toolbar-height;
    }*/
    /*.region-user-details {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: $user-region-height;
    }*/
    /*.region-roles {
        position: absolute;
        left: 0;
        top: $list-top;
        width: $list-width;
        bottom: $toolbar-height + $spacer;
        background-color: $region-panel-background-colour;
    }*/
}
