<form class="login-component">
    <div class="container-fluid login-fields">
        <div class="row">

            <div class="col-md-2">
                <label for="txtUserName">Username</label>
            </div>

            <div class="col-md-7">
                <input type="text" class="form-control" id="txtUserName" placeholder="User Name">
            </div>

        </div>

        <div class="row">

            <div class="col-md-2">
                <label for="txtPassword">Password</label>
            </div>

            <div class="col-md-7">
                <input type="password" class="form-control" id="txtPassword" placeholder="Password">
            </div>

            <div class="col-md-3">
                <button class="btn btn-default blue-button" id="btn-login">Login</button>
            </div>

        </div>
    </div>
</form>