$header-background-colour: white;
$header-toolbar-background-colour: #30637E;
$header-height: 100px;
$header-toolbar-height: 40px;
$header-title-fontsize: 30px;
$header-title-colour: #30637E;
$footer-height: 40px;
$footer-background-colour: #E0E0E0;
$header-toolbar-title-fontsize: 18px;
$header-toolbar-title-colour: #ffffff;
$blue-button-colour: #428BCA;
$header-toolbar-dropdowns-fontsize: 18px;

$standard-control-border-colour:#AAAAAA;
$standard-control-border-width:1px;
$standard-control-border-radius:4px;
$panel-section-border-color:#009e98;

//Fleet View
$fleet-summary-panel-heading-background-colour: #739ABA;
$fleet-summary-panel-body-background-colour: #E1E6ED;
$fleet-summary-panel-recently-edited: #F8E71C;

//Maintain Users
$region-panel-background-colour: #3F3F3F;

$error-control-border-color:red;
$error-control-background-color:lighten(red,48%);
